---
import type { SerializedLexicalNode } from "./types";

import PLexicalInner from "./PLexicalInner.astro";
import PButton from "../PButton.astro";

interface Props {
  content: SerializedLexicalNode[];
}

const { content } = Astro.props;
---

{
  !content.length
    ? ""
    : content.map((item, i) => {
        const { format, text, type, fields, children: NodeChildren } = item;
        if (type === "linebreak") {
          return <br />;
        } else if (type === "link") {
          const linkUrl =
            fields.linkType === "internal"
              ? "/" + fields?.doc?.value?.slug ?? ""
              : fields.url || "/";

          if (fields && fields.button === true) {
            const internalText =
              NodeChildren?.reduce((str, item) => {
                return (str += item?.text ?? "");
              }, "") || "";
            const color = fields?.button_options?.color?.name ?? "primary";
            return (
              <PButton
                color={color}
                style={fields.button_options.style === "secondary" ? "outline" : "filled"}
                url={linkUrl}
                label={internalText}
                target={fields.newTab ? "_blank" : "_self"}
              />
            );
          } else {
            return (
              <a href={linkUrl}>
                {
                  item.children &&
                  item.children.map( item => <PLexicalInner children={item} />)
                }
                
              </a>
            );
          }
        } else if (type === "text") {
          return <PLexicalInner children={item} />;
        } else {
          return null;
        }
      })
}
