---
import HeaderMetaImage from "./HeaderMetaImage.astro";
import HeaderGA from "./HeaderGA.astro";
import HeaderGTM from "./HeaderGTM.astro";

interface Props {
  title: string;
  description?: string;
  meta_image?: string;
  gtm_id?: string;
  ga_id?: string;
}

const { title, description, meta_image, gtm_id, ga_id } = Astro.props;
---

<>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta property="og:title" content={title} />
    {
      description && (
        <>
          <meta name="description" content={description} />
          <meta property="og:description" content={description} />
        </>
      )
    }
    {meta_image && <HeaderMetaImage image_url={meta_image} />}
    {gtm_id && <HeaderGTM gtm_id={gtm_id} />}
  </head>
  {ga_id && <HeaderGA ga_id={ga_id} />}
</>
