---
import "src/styles/styles.scss";
import Layout from "../layouts/Layout.astro";
import BlankLayout from "../layouts/Blank.astro";
import SectionRouter from "src/components/SectionRouter.astro";

import { getPageBySlug, getPageList } from "src/lib/payloadAPI";

type pageList = {
  id: string;
  title: string;
  slug: string;
};

export async function getStaticPaths() {
  const pages = await getPageList();
  return pages.pageList.map(({ slug, title, id }: pageList) => ({
    params: { slug },
    props: { title, id },
  }));
}
const { slug } = Astro.params;
const pageData = await getPageBySlug(slug);

const { title, default_header = false, layout = "default", description, meta_image } = pageData;
const pageMeta = {
  description: description || "",
  meta_image: meta_image && typeof meta_image !== 'string' ? meta_image?.filename ?? "" : ""
}
---

{
  layout === "default" ? (
    <Layout title={title} default_header={default_header} metadata={pageMeta} >
      <main>
        <SectionRouter sections={pageData.sections} />
      </main>
    </Layout>
  ) : (
    <BlankLayout title={title} default_header={default_header} metadata={pageMeta} >
      <main>
        <SectionRouter sections={pageData.sections} />
      </main>
    </BlankLayout>
  )
}
