---
import { getPayloadSiteOptions } from 'src/lib/payloadAPI';
import MainNav from "src/components/layout/MainNav.astro";
import MainFooter from '@components/layout/MainFooter.astro';
import DefaultHeader from '@components/layout/parts/DefaultHeader.astro';
import '@fontsource/material-icons';


interface Props {
	title: string;
    default_header?: boolean;
	metadata?: any;
}

const { title, default_header = false } = Astro.props;
const siteData = await getPayloadSiteOptions();
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<MainNav header={siteData.header} />
		{default_header && <DefaultHeader title={title} />}
		<slot />
		<MainFooter footer={siteData.footer} />
	</body>
</html>

