---
import "@bootstrap/scss/_buttons.scss";

interface Props {
  color?: string;
  size?: "sm" | "md" | "lg";
  style?: "filled" | "outline";
  target?: "_blank" | "_parent" | "_self" | "_top";
  label: string;
  url: string;
}

const {
  color = "primary",
  size = "md",
  style = "filled",
  label,
  url,
  target = "_self"
} = Astro.props;

let className = 'btn';

//TODO update Bootstrap Mixing

if( style === 'outline'){
  className += ` btn-outline-${color} __outline`
} else {
  className += ` btn-${color}`
}
if (size !== "md") {
  className += ` btn-${size}`;
}
---

<a class={className} href={url} role="button">
  {label}
</a>

<style lang="scss">
  .__outline {
    --#{$prefix}btn-bg: #{$white};
  }
</style>